<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href=" 파일경로/peony_Qm.css">
<script src=""></script>

</head>
<body>
    <h2 class="hdd"> 빠른메뉴</h2>
	<div class="quick_area">
		<ul class="quick_list">
			<li><a href="tel: 010-1234-5678"><h3>전화문의 </h3><p>010-1234-5678</p></a></li>
			<li><a href="javascript:;"><h3>카카오톡<em>상담</em></h3><p>1:1상담</p></a></li>
			<li><a href="javascript:;"><h3 class="to_contact">오시는 길</h3></a></li>
		</ul>
		<p class="to_top"><a href="#layout0" class="s_point">TOP</a></p>
	</div>
	    
</body>
</html>